@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
html {
  --btncolor: #4f7dfd;
  font-size: 16px;
  --background: hsl(250, 21%, 16%);
  color: white;
  font-family: "Jost", sans-serif;
  text-decoration: none;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--background);
}
svg {
  display: none;
}
.bg {
  background: url(./images/bg.png);
  padding-bottom: 100px;
  width: 100%;
}
.Collectibles {
  color: var(--btncolor);
}
.nav {
  display: flex;
  align-items: center;
  padding: 20px 50px 0px;
}
.navlinks {
  margin-left: auto;
  display: flex;
  width: 60%;
  justify-content: flex-end;
}
.navlinks li {
  display: inline-flex;
  margin-left: 50px;
}
.nav-btn {
  background-color: var(--btncolor);
  padding: 8px 25px;
  border: none;
  font-size: 1.2rem;
  margin-left: 5%;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
  margin-right: 50px;
  max-width: 1440px;
}
.section-1 > section {
  width: 100%;
  margin-left: 60px;
  justify-content: center;
}
.section-1 .small {
  margin-bottom: 50px;
}
.section-1 h2 {
  color: var(--btncolor);
}
.section-1 .big {
  font-size: 3rem;
  margin-bottom: 10px;
}
.browse-nft {
  color: var(--btncolor);
  text-decoration: none;
  border: 1px solid var(--btncolor);
  border-radius: 15px;
  padding: 12px 35px;
}
.main-img {
  width: 100%;
  border-radius: 15px;
}
.heart-div {
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 80px;
  justify-content: center;
  border-radius: 20px;
  color: black;
  top: 5px;
  left: 5px;
}
.heart-div span {
  position: absolute;
  margin: 4px;
}
.heart {
  margin: 6px 10px 0px 6px;
}
.section-container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
.section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
.section-bg {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1440px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  border-radius: 10px;
}
.section-text {
  margin-left: 20px;
}
.bid {
  padding: 5px 15px;
  color: white;
  background-color: #202443;
  width: 95px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  margin: -5px;
}

.flex1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section-2 {
  margin: 0px 60px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article2 {
  position: relative;
}
.section-2-arrows span {
  position: absolute;
  font-size: 3rem;
  top: 40%;
  padding: 20px;
  cursor: pointer;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}

.section-2 h2 {
  padding-top: 40px;
  margin-bottom: 10px;
}
.section-2 a,
.section-4-txt a {
  color: var(--btncolor);
  border: 1px solid var(--btncolor);
  padding: 10px 15px;
  border-radius: 10px;
  height: 45px;
}
.sectionCards {
  display: flex;
  position: relative;
  margin: 10px 80px 10px 60px;
  height: 580px;
  overflow: scroll;
  scrollbar-width: none;
}
.sectionCards::-webkit-scrollbar {
  display: none;
}
.card1 {
  width: 300px;
  top: 0px;
  position: absolute;
  margin: 0px 50px;
}
.card2 {
  width: 300px;
  top: 0px;
  left: 300px;
  position: absolute;
}
.section-text2 {
  background-color: #2e325c;
  padding: 20px 15px 20px;
}
.adebola,
.adebola2 {
  padding-bottom: 10px;
}
.adebola img {
  width: 20%;
}
.adebola2 img {
  width: 20%;
  border-radius: 50%;
}
.flex2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flex2 p {
  margin-top: 5px;
  font-size: 0.7rem;
}
.bid2 {
  padding: 6px 12px;
  color: white;
  background-color: var(--btncolor);
  width: 90px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  height: 35px;
}
.section2 {
  justify-content: center;
  max-width: 400px;
}
.section-3 {
  background: url(./images/bg.png);
  height: 650px;
}
.section-3-txt {
  padding: 40px 70px 20px;
}
.section-3-txt h1 {
  margin-bottom: 10px;
}
.trending-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px;
  max-width: 1440px;
}
.trending-div {
  background-color: #202443;
  position: absolute;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 180px;
  border-radius: 15px;
}
.hidden {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
  margin-left: 50px;
  height: auto;
}
.trending-div img {
  width: 30%;
}
.trend.txt {
  display: flex;
  flex-direction: column;
}
.trending-div2 {
  background-color: #202443;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 180px;
  border-radius: 15px;
}
.trending-div2 img {
  width: 30%;
}
.flex-direction {
  flex-direction: row;
}
.trending-section2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 45px 100px;
  max-width: 1440px;
}
.trending-section3 {
  position: relative;
  display: flex;
  justify-content: center;

  max-width: 1440px;
}
.trending-div3 {
  background-color: #202443;
  display: flex;
  padding: 15px;
  margin: 20px;
  justify-content: space-between;
  width: 180px;
  border-radius: 15px;
}
.trending-div3 img {
  width: 30%;
}
.section-4 {
  margin-left: 50px;
  margin-right: 50px;
}
.section-4-txt {
  margin: 120px 20px 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}
.section-4-pics {
  position: relative;
  display: block;
}
.section-4-pics img {
  width: 200px;
  height: 400px;
  position: absolute;
  display: block;
  justify-content: space-between;
}
.Rectangle1 {
  left: 0;
}
.Rectangle2 {
  top: 700px;
  max-height: 200px;
}
.Rectangle3 {
  left: 650px;
}
.Rectangle4 {
  left: 450px;
}
.Rectangle5 {
  top: 200px;
}
.Rectangle6 {
  top: 500px;
  left: 200px;
  height: 200px;
}
.Rectangle7 {
  left: 200px;
}
.Rectangle8 {
  top: 200px;
  left: 450px;
}
.Rectangle9 {
  top: 500px;
  z-index: 0;
  max-height: 200px;
}
.section-5 {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #622c9a 21.71%, #332978 77%);
  margin: 950px 70px 100px;
  border-radius: 15px;
  justify-content: center;
}
.section-5 h1 {
  font-size: 2.3rem;
}
.section-5 p {
  font-size: 1.3rem;
}
.section-5 > div {
  margin: 80px 0px 80px 100px;
}
.section-5 img {
  width: 500px;
}
.blue-btn {
  color: white;
  background-color: var(--btncolor);
  padding: 10px 15px;
  border-radius: 10px;

  font-size: 1.3rem;
}
.section-6 {
  background: url(./images/bg.png);
  height: 350px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 20px;
}

.middle-footer {
  max-width: 30%;
  padding: 0px 50px;
}
.footer-edge {
  max-width: 40%;
  padding: 0px;
}
.section-6 div:nth-child(4) {
  padding: 0px 80px;
  margin-left: 90px;
  width: 40%;
  padding: 0px 10px;
}

.section-6 a {
  color: white;
}
.Newsletter {
  position: relative;
  padding: 20px;
  width: 380px;
  border: none;
  border-radius: 10px;
}
.newsletter-btn {
  color: white;
  background-color: var(--btncolor);
  padding: 10px 20px;
  border-radius: 10px;

  right: 40px;
  top: 112px;
}
.socialicons {
  width: 100%;
}
.socialicons a {
  background-color: var(--btncolor);
  font-size: 2rem;
  padding: 10px;
  border-radius: 100px;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .navlinks {
    position: absolute;
    top: 0;
    display: block;
    right: 100%;
    background-color: #202443;
    z-index: 999;
    width: 60%;
    padding-top: 20%;
    height: 100%;
    transition: 0.1s right ease;
  }
  .bodyUnscroll {
    overflow: hidden;
  }
  .navlinksShow {
    right: 0;
  }
  .nav {
    overflow: hidden;
  }
  .nav ul li {
    display: block;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 30px;
  }
  svg {
    display: block;
    width: 30px;
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(22deg)
      brightness(104%) contrast(103%);
    cursor: pointer;
  }
  .close-menu {
    width: 20px;
    position: absolute;
    top: 15px;
    right: 27px;
    cursor: pointer;
  }
  .menu-icon {
    margin-left: auto;
  }
  .section-1 {
    flex-direction: column;
  }
  .sectionCards {
    flex-direction: column;
    overflow: visible;
    height: 5100px;
    margin: 0px;
  }

  .section-container {
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .card2 {
    position: static;
    margin-top: 40px;
  }
  .trending-section,
  .trending-section3 {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
  }
  .section-2 {
    margin: 20px;
  }
  .section-3 {
    height: auto;
  }
  .section-4 {
    margin-left: 5px;
  }
  .section-4-pics {
    width: 200px;
  }
  .section-4-pics img {
    width: 85px;
    height: 150px;
  }
  .Rectangle2 {
    top: 320px;
    max-height: 85px;
  }
  .Rectangle3 {
    left: 300px;
  }
  .Rectangle4 {
    left: 200px;
  }
  .Rectangle5 {
    top: 85px;
  }
  .Rectangle6 {
    top: 220px;
    left: 85px;
    height: 85px;
  }
  .Rectangle7 {
    left: 85px;
  }
  .Rectangle8 {
    top: 85px;
    left: 200px;
  }
  .Rectangle9 {
    top: 220px;
    z-index: 0;
    max-height: 85px;
  }
  .section-2 a {
    width: 150px;
  }
  .section-2-arrows span {
    display: none;
  }
  .middle-footer {
    width: 40%;
  }
  .footer-edge {
    width: 28%;
  }
  .newsletter-btn {
    top: 325px;
    right: 220px;
  }
  .section-6 {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .section-5 {
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 400px 0 10px;
    background-size: cover;
  }
  .middle-footer {
    padding: 10px;
  }
  .section-5 img {
    width: 20rem;
  }
  .section-6 div:nth-child(4) {
    margin-left: 10px;
  }
}
